<td class='service'>
     <span ng-if='!edit'>{{ context.service.description }}</span>
     <select class='form-control form-service' ng-if='edit'
          ng-change='set_field("service")'
          ng-model='context.service'
          ng-options="service.description for service in context.select_fields.services" />
</td>
<td class='sub_service'>
     <span ng-if='!edit'>{{ context.sub_service.description }}</span>
     <select class='form-control' ng-if='edit'
          ng-model='context.sub_service'
          ng-options="sub_service.description for sub_service in context.select_fields.sub_services" />
</td>
<td class='job'>
     <span ng-if='!edit'>{{ context.job.description }}</span>
     <select class='form-control form-job' ng-if='edit'
          ng-change='set_field("job")'
          ng-model='context.job'
          ng-options="job.description for job in context.select_fields.jobs" />
</td>
<td class='activity'>
     <span ng-if='!edit'>{{ context.activity.description }}</span>
     <select class='form-control' ng-if='edit'
          ng-change='set_field("activity")'
          ng-model='context.activity'
          ng-options="activity.description for activity in context.select_fields.activities" />
</td>
<td class='expense_percent warning'>
     <div ng-if='!edit'>
          <span>{{ context.expense_percent[year] | number:2 }}%</span>
          <br />
          <span ng-if='show_totals' ng-class='{
               "text-danger": getTotal(context.activity, "expense_percent") > 100,
               "text-success": getTotal(context.activity, "expense_percent") == 100,
               "text-warning": getTotal(context.activity, "expense_percent") < 100
          }'>({{ getTotal(context.activity, "expense_percent") | number:2 }}%)</span>
     </div>
     <input class='form-control' ng-if='edit' type='text'
          ng-model='context.expense_percent[year]' />
</td>
<td class='revenue_percent warning'>
     <div ng-if='!edit'>
          <span>{{ context.revenue_percent[year] | number:2 }}%</span><br />
          <span ng-if='show_totals' ng-class='{
               "text-danger": getTotal(context.activity, "revenue_percent") > 100,
               "text-success": getTotal(context.activity, "revenue_percent") == 100,
               "text-warning": getTotal(context.activity, "revenue_percent") < 100
          }'>({{ getTotal(context.activity, "revenue_percent") | number:2 }}%)</span>
     </div>
     <input class='form-control' ng-if='edit' type='text'
          ng-model='context.revenue_percent[year]' />
</td>
<td class='expense info'>
     ${{ get_expense(year) | number:2 }}<br />
     <span ng-if='show_totals' ng-class='{
          "text-danger": getCalcTotal(context.activity, "expense") > context.expense[year],
          "text-success": getCalcTotal(context.activity, "expense") == context.expense[year],
          "text-warning": getCalcTotal(context.activity, "expense") < context.expense[year]
     }'>(${{ getCalcTotal(context.activity, 'expense') | number:2 }})</span>
</td>
<td class='revenue info'>
     ${{ get_revenue(year) | number:2 }}<br />
     <span ng-if='show_totals' ng-class='{
          "text-danger": getCalcTotal(context.activity, "revenue") > context.revenue[year],
          "text-success": getCalcTotal(context.activity, "revenue") == context.revenue[year],
          "text-warning": getCalcTotal(context.activity, "revenue") < context.revenue[year]
     }'>(${{ getCalcTotal(context.activity, 'revenue') | number:2 }})</span>
</td>
<td class='net info' ng-class='{"text-danger": get_net(year) < 0, "text-success": get_net(year) > 0}'>
     ${{ get_net(year) | number:2 }}
</td>
<td class='comments'>
     <span ng-if='!edit'>{{ context.comment[year] }}</span>
     <input class='form-control' ng-if='edit' type='text'
          ng-model='context.comment[year]' />
</td>
