<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Select Customer</h4>
</div>
<div class="modal-body">
  <ul class='list-group'>
    <li class='list-group-item list-group-item-success'><a href='#' ng-click='cancel()' newclient>New Client</a></li>
    <li class='list-group-item' ng-repeat='customer in customers'>
     <a href='/?customer={{ customer.id }}'>{{ customer.name }}</a>
     <a href='#' ng-click='delete_customer(customer)' class='pull-right'><span class='fa fa-remove'></span></a>
    </li>
  </ul>
</div>
