<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Select Customer</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role='form'>

        <div class="form-group">
            <label for="inputCustomerName" class="col-sm-4 control-label">Customer Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCustomerName" placeholder="Customer Name" ng-model='form.name'>
            </div>
        </div>

        <div class="form-group">
            <label for="inputContactName" class="col-sm-4 control-label">Contact's Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputContactName" placeholder="Contact's Name" ng-model='form.contact'>
            </div>
        </div>

        <div class="form-group">
            <label for="inputContactNumber" class="col-sm-4 control-label">Contact's Number</label>
            <div class="col-sm-8">
                <input type="tel" class="form-control" id="inputContactNumber" placeholder="Contact's Number" ng-model='form.contact_number'>
            </div>
        </div>

        <div class='form-group'>
            <label for='inputDatabaseFile' class='col-sm-4 control-label'>Database File</label>
            <div class='col-sm-8'>
                <input type='file' class='form-control' id='inputDatabaseFile' placeholder='Database File'>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>