body {
  // margin-top: 50px;
  // height: 100%;
  position: absolute;
  top: 50px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow-y:auto;
}

th {
    text-align: center;
}

.navbar-inverse {
    &.navbar-munro {
        background-color: #1a75bc;
        border-bottom: 1px solid #156099;
    }
    .navbar-brand, .navbar-text, a {
        color: White;
    }

    .navbar-nav {
        li {
            a {
                color: White;
            }
        }
    }
}

.emblem {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: -5px;
    margin-right: 5px;
}

.noclient {
    position:absolute;
    height: calc(100% - 50px);
    width:100%;

    p {
        font-size: 50px;
        color: grey;
        text-shadow: 2px 2px lightgrey;

        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

year {
    cursor: pointer;
    color: blue;
}

.navbar-directive {
    display: block;
    padding: 15px;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}