
<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Munro Strategic Prospective</title>

    <!-- Bootstrap core CSS -->
    <link href="css/vendor.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/app.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body body>

    <nav class="navbar navbar-inverse navbar-munro navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"><img class="emblem" src="images/emblem.png"> &nbsp;Munro Strategic Perspective</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class='nav navbar-nav navbar-left'>
            <li><navbar-button ng-click="select_client()">{{ customer.name }}</navbar-select></li>
            <li><navbar-button ng-click='download_csv()'>Download CSV</navbar-button></li>
            <li><navbar-button ng-click='toggle_totals()'>Toggle Totals</navbar-button></li>
            <li><navbar-button ng-click='copy_percentages()'>Copy Percentages</navbar-button></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#contact"><i class="fa fa-close"></i> Sign Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">

      <table class='table table-hover allocations hidden'>
        <thead>
          <tr>
            <th colspan="4"></th>
            <th colspan="6">
              <year class='pull-left' prev><i class="fa fa-chevron-left"></i></year>
              <year class='pull-right' next><i class="fa fa-chevron-right"></i></year>
              <span class='year'>{{ year }}</span>
            </th>
            <!-- <th colspan="2"></th> -->
          </tr>
          <tr>
            <th><a href='#' ng-click='sortAllocations("service")'>Service</a></th>
            <th><a href='#' ng-click='sortAllocations("sub_service")'>Sub-Service</a></th>
            <th><a href='#' ng-click='sortAllocations("job")'>Job</a></th>
            <th><a href='#' ng-click='sortAllocations("activity")'>Activity</a></th>
            <th class='warning'>Expense %</th>
            <th class='warning'>Revenue %</th>
            <th class='info'>Expense</th>
            <th class='info'>Revenue</th>
            <th class='info'>Net</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody class='activities'>
          <tr allocation ng-repeat='context in allocations' class="{{ edit ? 'active' : '' }}" ng-model='context' />
        </tbody>
      </table>

      <div class='noclient hidden'>
        <p>No Client Selected</p>
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
